<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="AmazonTest">
        <classes>
            <class name="Execution"/>
            <class name="SearchItem"/>
            <class name="Pincode"/>
            <class name="Address"></class>
            <class name="ChangePassword"></class>
        </classes>
    </test>
</suite>